/* ------ Text items -------- */
a
{
	color: #336;
}
a:hover
{
	color: #000;
	text-decoration: none;
}
a.menuhead
{
	font-size: 1em;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	margin: auto;
	padding: 0em 1em;
}
a.activemenuhead
{
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a.uppercaselink
{
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
a.rightlisting
{
	text-decoration: none;
	display: block;
	padding-left: 1em;
	margin: 0.2em 0;	
}
a.linklist
{
	text-decoration: none;
}
body
{
	font-family: Verdana, Arial, Helvetica, Tahoma;
	font-size: 0.65em;
	color: #333;
	padding: 0; 
	margin: 0;
	background-color: #fff;
}
.datelistingtext
{
	color: #606060; 
	font-size: 1em; 
	font-style: italic; 
}
div.menuitem
{
	border-bottom: solid 0.1em #ddd;
	width: 100%;
	padding: 0.4em 0em 0.4em 0em;
	float: left;
}
h1, .heading1
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 2em; 
	MARGIN: 6px 0px 0px 0px;
	padding-top: 6px;
	COLOR: #606060; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
/*
	padding-top: 0.5em;
	font-weight: bold;
	font-size: 2.0em; 
	color: #666666;
	font-family: Verdana;
*/
	EditMenuName: Heading 1;
}
h2, .heading2
{
	/*
	font-weight: bold; 
	font-size: 1.2em; 
	color: #336;
	*/
	FONT-WEIGHT: bold; 
	FONT-SIZE: 1.2em; 
	MARGIN: 6px 0px 0px 0px;
	COLOR: #404040; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	
	EditMenuName: Heading 2;
}
h3, .heading3
{
	MARGIN: 10px 0px 0px 0px;
	font-weight: bold;
	font-size: 1em;
	color: #333;
	/* text-transform: uppercase; */
	EditMenuName: Heading 3;
}

h2.listHeading
{
	MARGIN: 0px 0px 0px;
}

p
{
	font-family: Verdana, Arial, Helvetica, Tahoma;
	color: #333;
	margin-top: 6px;
	margin-bottom: 12px;
	EditMenuName: Normal;
}

.listDate 
{
	font-size: 0.8em;
	color: #808080;
}
a.listReadMore 
{
	/* font-weight: bold; */
	
}
.introduction
{
	font-weight: bold;
	EditMenuName: Introduction;
}
.imagetext 
{
	font-style: italic; 
	font-size: 0.9em; 
	EditMenuName: Image text;
}
.red
{
	color: #CC0000;
	EditMenuName: Normal red text;
}
hr
{
	height: 0.1em;
	color: #ddd;
}
input, textarea
{
	font-family: Verdana, Arial, Helvetica, Tahoma;
	color: #336;
	font-size: 1em;
	margin: 0.2em;
}
select
{
	font-size: 1em;
	margin: 0.2em;
}
span.errormessage
{
	color: #a00;
	font-size: 1.3em;
}
.inputlabel
{
	width: 6em;
	float: left;
	padding-top: 0.4em;
	font-weight: bold;
}
.inputlabelwide
{
	width: 10em;	
	float: left;
	padding-top: 0.4em;
	font-weight: bold;
}
img.quicksearch
{
	/*
	position: relative;
	top: 0.2em;
	*/
	width: 1.4em;
	height: 1.4em;
	border: 0;
}
span.usernamelabel
{
	padding-top: 0.5em;
	display: block;
}
table
{
	font-size: 1em;
}
th
{
	text-align: left;
}
tr.evenrow
{
	background-color: #eee;
}
tr.unevenrow
{
	background-color: #fff;
}
tr.headerrow
{
	background-color: #ccc;
}

ol, ul
{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 30px;
}


/* BEGIN C# Code Styles */
.csharpcode
{
	font-size: 1.1em;
	color: black;
	font-family: Courier New , Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.rem { color: #008000; }

.kwrd { color: #0000ff; }

.str { color: #006080; }

.op { color: #0000c0; }

.preproc { color: #cc6633; }

.asp { background-color: #ffff00; }

.html { color: #800000; }

.attr { color: #ff0000; }

.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.lnum { color: #606060; }

/* END C# Code Styles */

div.Code {
	font-size: 1.1em;
	color: black;
	font-family: Courier New , Courier, Monospace;
	background-color: #f0f0f0;
	padding: 4px;
	EditMenuName: Code;
}


/* Listing Styles */
ul.firstpagebox {
	margin-left: 25px;line-height: 140%; margin-top: 0px;
}
li.firstPageBoxItem {
	padding-bottom: 3px;
}
div.newsItemHeading {
	overflow: hidden; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 140%; font-weight: bold; padding-bottom: 5px;
}
div.newsItemText {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 140%; padding: 0px 0px 0px 0px;
}
div.newsCategoryHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; padding: 6px 0px 6px 0px;
	/* font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; padding: 6px 0px 6px 0px; */
}
