/* This file needs to be saved in the UTF-8 format in order to handle EditMenuName attributes with non-english characters */

/* --- Divs used for page structure ---*/


#soheaderdivleft
{
	float:left;
	text-align:left;
}
#soheaderdivmiddle
{
	margin-left:1em;
	margin-top:1em;
	float:left;
	text-align:center;
}
#soheaderdivright
{
	float:right;
	text-align:right;
	margin-right:1em;
	margin-top:1em;
}
#containerdiv
{
	width: 94em;
	margin: auto;
}
#headerdiv
{
	/*text-align: left;*/
}
#leftmenudiv
{
	width: 22%;
	float: left;
	text-align: left;
	border-right: solid 1px #EDEDED;
	padding-right: 6px;
}
#mainareadiv
{
	width: 70%;
	float: left;
	text-align: left;
}

#mainareadivfull
{
	width: 100%;
	float: left;
	text-align: left;
}

#rightmenudiv
{
	width: 28%;
	float: right;
	text-align: left;
	padding-left: 1em;
	padding-top: 1.5em;
}
#footerdiv
{
	border-top: solid 0.0em #ddd;
	margin-top: 5em;
	padding: 1em 0em;
	text-align: left;
	float: left;
	width: 100%;
}
#maincontainerdiv
{
	float: right;
	width: 100%;
}
#contentdiv
{
	/*
	width: 100%;
	float: left;
	text-align:left;
	*/
	width: 77%;
	float: right;
}
#topmenu
{
	padding: 0.4em 0em 0.3em 1em;
	background-color: #ededed;
	/* 
	background-image: url(/images/siteimages/menubg.gif);
	background-repeat: no-repeat;
	*/
}

#topmenuright
{
	float: right;
	text-align: right;
}

#quicksearchdiv
{
	margin: -6.4em 0 0 0;
	height: 2.3em;
	width: 99%;
	text-align: right;
}
#quickbar
{
	border-width: 0.1em 0em;
	border-style: solid;
	border-color: #ddd; 
	margin: 0.5em 0em;
	padding: 0.5em 0em;
	text-align: center;
}
#cookielink
{
	border-width: 0.1em 0em;
	border-style: solid;
	border-color: #ddd;
	padding: 0.5em 0em;
	margin-top: 1em;
	display: block;
}
/* -- Standard divs --*/

div.leftfloating
{
	float: left;
}
div.rightfloating
{
	float: right;
}
.centered
{
	text-align: center;
}
div.rightaligned
{
	
	text-align: right;
}
.hidden
{
	display:none;
}
img.borderless
{
	border: 0;
}