/* -- Changed pages -- */
td.changedpages
{
	padding-right: 1.5em;
}

/* -- Start page -- */
img.startpageimage
{
	border: solid 0.1em #CCCCCC;
	width:100%
}

/* -- Quick search -- */
input.quicksearchbutton
{
	width: 10em;
}
span.searchlabel
{
	font-weight: bold;
	font-size: 1em;
	color: #336;
}


/* ---Calender template items---*/	



div.monthcalendararea
{
	float: right;
	width: 38%;
}
div.calendarlistingarea
{
	float: left;
	width: 61%;
	text-align: left;	
}
h1.calendardayheading
{
	font-size: 1.2em;
	color: #336;
	display: inline;
}
table.calendarframe
{
	border-color: #fff;
	background-color: #fff;
}
/* IE 6 does not seem to handle parent-child selectors */
div.monthcalendararea > table
{
	border: solid 0.1em black;
}
td.calendaritem, tr.calendaritem
{
	height: 2em; 
	width: 2.2em;
	font: normal 1em verdana;
	background-color: #fff; 
	border: solid 0.1em #000;
}

td.selecteddatecell 
{
	border: solid 0px #fffffff;		
}
td.selecteddatecell a
{
	border: solid 0px #fff;
	text-decoration:none;
	cursor:default;	
}

td.datecellothermonth 
{
	background-color: #eee;
}
td.datecellothermonth a
{
	text-decoration:none;
	cursor:default;
}

td.datecellinactive a
{
	text-decoration:none;
	cursor:default;
}

td.weekendcell
{
	background-color: #eee;
}
td.weekendcell a
{
	text-decoration:none;
	cursor:default;
}

td.datecellactive
{	
	border: solid 0.0em #fff;
	background-color:#dddddd;
}

td.datecellactive a
{
	text-decoration:none;
}

td.dayweekheader
{
	color: #666;
	border-style: none;
}
	
td.nextPrevStyle a
{
	text-decoration:none;
	cursor:default;
}
/*---Listing headers (Startpage and LeftMenu head)----*/


a.listheading
{
	font-weight: bold;
	color: #336;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}
div.startpageleftnews, div.startpagecalendaritem
{
	margin-top: 1em;
}
/* ---LeftMenu items---*/
a.menulink
{
	color: #333;
	font-weight: normal;
	text-decoration: none;
	display: block;
}
a.menulink:hover
{
	color: #336;
}
/* -- Form fields --- */
.boldFont
{
	font-weight: bold;
}
/* --Conferance items--- */
div.conferance
{
	width: 100%;
	background-color: #ddd;
	border: solid 0.1em #bbb;
	padding: 0.3em;
}
div.conferancelinkbuttonsarea
{
	margin-top: 0.3em;
	float: right;
}
div.conferanceheader
{
	width: 100%;
}
/*---Site map items---*/
tr.sitemapheader
{
	background-color: #dedede;
	font-weight: 600;
	padding-left: 0.2em;
}
/*---Password input ---*/
div.passwordfield 
{
	background-color: #dcdace;
	border: solid 0.1em #000;
}
input.registerfield
{
	width: 20em;
}
/*-- Top login button (NOT PASSPORT) - shown in PageProfilePanel --*/
input.loginLink 
{ 
	font-weight:bold; 
	border:solid 1px #6D8CA8
}
/*---Personal registry Items---*/
table.DetailedView
{
	background-color: #fff;	
	border-style: solid; 
	border-color: #bbb;	
	border-width: 0.1em;
}
	
table.BackButton
{
	background-color: #ddd;	
	border-style: solid; 
	border-color: #bbb;	
	border-width: 0.1em;
}
	
/*--- Newsgroup ---*/
body.newsgroupitem
{
	padding: 0; 
	margin: 0;
}
div.newsgroupheader
{
	background-color: #ddd;
	border-bottom: solid 0.1em back;
	padding: 0.4em 0;
}
A.newsgroupbarbutton 
{ 
	color: #000; 	
	font-size: 1.1em; 
	font-family: tahoma; 
	font-weight: bold;
	text-decoration: none;
}

/* ---News Groups---*/
TR.NewsgroupRow {
	BACKGROUND-COLOR: #DEDEDE; 
	COLOR: #000000; 
	FONT-SIZE: 11px; 
	FONT-FAMILY:tahoma; 
	PADDING-BOTTOM: 2px; 
	PADDING-LEFT: 2px; 
	PADDING-TOP: 2px}

TR.NewsgroupRowActive{ 
	BACKGROUND-COLOR: #DEE8F2; 
	COLOR: #000000; 
	FONT-SIZE: 11px; 
	FONT-FAMILY:tahoma; 
	FONT-WEIGHT:bold;
	PADDING-BOTTOM: 2px; 
	PADDING-LEFT: 2px; 
	PADDING-TOP: 2px}
	
TD.NewsgroupTableheading { 
	COLOR: #ffffff; 
	FONT-SIZE: 11px;
	FONT-FAMILY:tahoma; 
	FONT-WEIGHT:bold; 
	HEIGHT: 20px;
	PADDING-LEFT: 2px; 
	BACKGROUND: #333366}

A.NewsgroupBarButton {  
	COLOR: #000000; 	
	FONT-SIZE: 11px; 
	FONT-FAMILY:tahoma; 
	FONT-WEIGHT:bold; 
	TEXT-DECORATION: none}

A.NewsgroupBarButton:visited { 
	COLOR: #000000; 	
	FONT-SIZE: 11px; 
	FONT-FAMILY: tahoma; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none}

.NewsgroupBarTitle {
	COLOR: #000000; 
	FONT-SIZE: 12px; 
	FONT-FAMILY:Verdana, arial, tahoma; 
	FONT-WEIGHT:bold;}

.NewsgroupItemMessage {
	FONT-SIZE: 10px; 
	FONT-FAMILY:Verdana, Courier new;
	COLOR: #333333;}

.NewsgroupItemHeading{
	COLOR: #ffffff; 
	FONT-SIZE: 11px; 
	FONT-FAMILY:tahoma; 
	FONT-WEIGHT:bold;}

.NewsgroupItemHeading2{
	COLOR: #ffffff; 
	FONT-SIZE: 11px; 
	FONT-FAMILY:tahoma;}